@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Signin Template · Bootstrap v5.0</title>

    <link rel="canonical" href="c:\Users\Hp\Desktop\bootstrap-5.0.2-examples">
   
    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

html,
body {
 margin: 0;
 padding: 0;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("https://th.bing.com/th/id/OIP.8nRSh6Vol2yguwbjbbBF-AHaE6?w=1920&h=1275&rs=1&pid=ImgDetMain");
  background-repeat: no-repeat;
  background-size: cover;
              background-position: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within
 {
  z-index: 2;
}

.form-signin input[type="email"] 
{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] 
{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

    </style>

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    
<main class="form-signin">
      
  <form method="post">

  
<img  style="margin-top: 60px; padding-bottom: 20px;" src="https://w3schoolsua.github.io/images/admin.png" alt="" width="150" height="160">

    <h1  class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label style="margin-left: -150px;">
        <input  type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    
  </form>
</main>


    
  </body>
</html>
@* 
  <form method="post">
    <div>
        <label for="name">Имя администратора:</label>
        <input type="text" id="name" name="Name" required />
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="Password" required />
    </div>
    <button type="submit">Войти</button>
</form>

 *@